/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@400;500&display=swap');


/* global styles start*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    
    width: 90%;
    margin: auto;
}



/* global styles end*/


/* header styles start */
nav{
    margin-top: 87px;
}


/* header styles end */

